{% extends 'website/index.html' %}

{% block csslink %}
  {% load static %}
  <link href="{% static 'css/aboutus.css' %}" rel="stylesheet" />

{% endblock csslink %}

{% block content %}

{% load static %}
  <div class="main mx-auto">
    <div class="box">

      <img src="{% static 'images/aboutus1.jpg' %}" class="img-1 img-fluid">
      <div class="container-fluid mx-auto">
        <h1 class="left mx-auto mt-2" data-aos="fade-up" data-aos-duration="3000">ABOUT US</h1>
        <p class="small-left mx-auto mt-1" data-aos="fade-up" data-aos-duration="3000">{{about.about1}}
        </p>
      </div>
    </div>



    <div class="box bg-light">
      <div class="container text-center mt-0 mb-5">
        <p class="neon mt-3" style=" font-size: 3vw;  color: rgb(0, 0, 0); text-align: center" data-aos="fade-up"
          data-aos-duration="3000">{{about.about2}}
        </p>
      </div>
    </div>
    <hr class="neon" style="border: 5px solid rgb(255, 238, 0)">

    <div class="container-fluid bg-light mt-5">
      <div class="row g-5">
        <div class="col-sm-6 text-center" data-aos="fade-up" data-aos-duration="3000">
          <h2 class="neon mb-4 mt-2">Waxing</h2>
          <p class="waxing">{{about.about3}}</p>
          <div class="container">
            <a href="{% url 'waxingview' %}"><button class="button mt-2 mx-auto">KNOW MORE</button></a>
          </div>
        </div>
        <div class="col-sm-6" data-aos="fade-up" data-aos-duration="3000">
          <a href="{% url 'waxingview' %}"><img src="{% static 'images/aboutus2.jpg' %}" alt="waxing"
              class="img-5 img-fluid mt-0 mb-4"></a>
        </div>

        <hr class="neon" style="border: 1px solid rgb(255, 238, 0)">

        <div class="col-sm-6 text-center" data-aos="fade-up" data-aos-duration="3000">
          <img src="{% static 'images/aboutus3.jpg' %}" alt="ipl" class="img-5 img-fluid mt-0 mb-4">
        </div>
        <div class="col-sm-6 text-center" data-aos="fade-up" data-aos-duration="3000">
          <h2 class="neon mb-4 mt-5">IPL- Intense Pulsed Light</h1>
            <p class="waxing">{{about.about4}}</p>
            <a href="{% url 'iplview' %}"><button class="button mt-2 text-center" type="submit">KNOW MORE</button></a>
        </div>

        <hr style="border: 5px solid rgb(255, 238, 0)">

        <div class="col-sm-6 text-center" data-aos="fade-up" data-aos-duration="3000">
          <h2 class="neon mb-4 mt-5">Massage Therapy</h1>
            <p class="waxing ">
              {{about.about5}}
            </p>
            <a href="{% url 'massageview' %}"><button class="button mt-2 text-center" type="submit">KNOW MORE</button></a>
        </div>
        <div class="col-sm-6" data-aos="fade-up" data-aos-duration="3000">
          <img src="{% static 'images/aboutus4.jpg' %}" alt="massage" class="img-5 img-fluid mt-0 mb-4">
        </div>

        <hr style="border: 5px solid rgb(255, 238, 0)">

        <div class="col-sm-6" data-aos="fade-up" data-aos-duration="3000">
          <img src="{% static 'images/aboutus5.jpg' %}" alt="threading" class="img-5 img-fluid mt-0 mb-5">
        </div>
        <div class="col-sm-6 text-center" data-aos="fade-up" data-aos-duration="3000">
          <h2 class="neon mt-5">Threading</h1>
            <p class="waxing text-center">
              {{about.about6}}
            </p>
            <a href="{% url 'pricing' %}"><button class="button mt-2 text-center mx-auto" type="submit">KNOW MORE</button></a>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

