{% extends 'website/index.html' %}

{% block csslink %}
  {% load static %}

  <link rel="stylesheet" href="{% static 'css/caci.css' %}">

{% endblock csslink %}


{% block content %}
red
<div class="main">
  <div class="box">
    <img src="{% static 'images/s1.png' %}" class="img-1 img-fluid" style="width: 100%;" />
    <h1 class="left mx-auto" style="color: rgb(175, 2, 175); text-shadow: 2px 2px 2px black;">{{caci.name}}</h1>
  </div>

  <div class="rectangle mt-4" data-aos="fade-up" data-aos-duration="3000">
    <h1  style="color: rgb(175, 2, 175); text-shadow: 2px 2px 2px black;">{{caci.cacihead1}}</h1>
    <p class="text">
      {{caci.caci1}}
    </p>
    <div class="container text-center">
      <a href="{% static 'pdf/Reenas_caci.pdf' %}" target="_blank"> <button class="button" type="submit">Read More</button></a>
    </div>
  </div>

  <hr style="border: 1px solid rgb(175, 2, 175)" />

  <div class="rectangle mt-4" data-aos="fade-up" data-aos-duration="3000">
    <h1  style="color: rgb(175, 2, 175); text-shadow: 2px 2px 2px black;">{{caci.cacihead2}}</h1>
    <p class="text">
      {{caci.caci2}}
    </p>
    <div class="container text-center">
      <a href="{% url 'pricing' %}#CACI Treatments"> <button class="button" type="submit">Our Prices</button></a>
    </div>
  </div>

  <hr style="border: 1px solid rgb(175, 2, 175);" />

  <div class="rectangle mt-4" data-aos="fade-up" data-aos-duration="3000">
    <h1  style="color: rgb(175, 2, 175); text-shadow: 2px 2px 2px black;">{{caci.cacihead3}}</h1>
    <p class="text">
      {{caci.caci3}}
    </p>
    <div class="container text-center">
      <a href="{% url 'pricing' %}#CACI Treatments"> <button class="button" type="submit">Our Prices</button></a>
    </div>
  </div>

  <hr style="border: 1px solid rgb(175, 2, 175);" />

  <div class="rectangle mt-4" data-aos="fade-up" data-aos-duration="3000">
    <h1  style="color: rgb(175, 2, 175); text-shadow: 2px 2px 2px black;">{{caci.cacihead4}}</h1>
    <p class="text">
      {{caci.caci4}}
    </p>
    <div class="container text-center">
      <a href="{% url 'pricing' %}#CACI Treatments"> <button class="button" type="submit">Our Prices</button></a>
    </div>
  </div>

  <hr style="border: 1px solid rgb(175, 2, 175);" />

  <div class="rectangle mt-4" data-aos="fade-up" data-aos-duration="3000">
    <h1  style="color: rgb(175, 2, 175); text-shadow: 2px 2px 2px black;">{{caci.cacihead5}}</h1>
    <p class="text">
      {{caci.caci5}}
    </p>
    <div class="container text-center">
      <a href="{% url 'pricing' %}#CACI Treatments"> <button class="button" type="submit">Our Prices</button></a>
    </div>
  </div>
  <hr style="border: 1px solid rgb(175, 2, 175);" />

  <div class="rectangle mt-4" data-aos="fade-up" data-aos-duration="3000">
    <h1  style="color: rgb(175, 2, 175); text-shadow: 2px 2px 2px black;">{{caci.cacihead6}}</h1>
    <p class="text">
      {{caci.caci6}}
    </p>
    <div class="container text-center">
      <a href="{% url 'pricing' %}#CACI Treatments"> <button class="button" type="submit">Our Prices</button></a>
    </div>
  </div>

  <hr style="border: 1px solid rgb(175, 2, 175);" />

  <div class="rectangle mt-4" data-aos="fade-up" data-aos-duration="3000">
    <h1  style="color: rgb(175, 2, 175); text-shadow: 2px 2px 2px black;">{{caci.cacihead7}}</h1>
    <p class="text">
      {{caci.caci7}}
    </p>
    <div class="container text-center">
      <a href="{% url 'pricing' %}#CACI Treatments"> <button class="button" type="submit">Our Prices</button></a>
    </div>
  </div>

  <hr style="border: 1px solid rgb(175, 2, 175);" />

  <div class="rectangle mt-4" data-aos="fade-up" data-aos-duration="3000">
    <h1  style="color: rgb(175, 2, 175); text-shadow: 2px 2px 2px black;">{{caci.cacihead8}}</h1>
    <p class="text">
      {{caci.caci8}}
    </p>
    <div class="container text-center">
      <a href="{% url 'pricing' %}#CACI Treatments"> <button class="button" type="submit">Our Prices</button></a>
    </div>
  </div>

  <hr style="border: 1px solid rgb(175, 2, 175);" />

  <div class="rectangle mt-4" data-aos="fade-up" data-aos-duration="3000">
    <h1  style="color: rgb(175, 2, 175); text-shadow: 2px 2px 2px black;">{{caci.cacihead9}}</h1>
    <p class="text">
      {{caci.caci9}}
    </p>
    <div class="container text-center">
      <a href="{% url 'pricing' %}CACI Treatments"> <button class="button" type="submit">Our Prices</button></a>
    </div>
  </div>

  <hr style="border: 1px solid rgb(175, 2, 175);" />

  <div class="rectangle mt-4" data-aos="fade-up" data-aos-duration="3000">
    <h1  style="color: rrgb(175, 2, 175); text-shadow: 2px 2px 2px black;">{{caci.cacihead10}}</h1>
    <p class="text">
      {{caci.caci10}}
    </p>
    <div class="container text-center">
      <a href="{% url 'pricing' %}CACI Treatments"> <button class="button" type="submit">Our Prices</button></a>
    </div>
  </div>

  <hr style="border: 1px solid rgb(175, 2, 175);" />

  <div class="rectangle mt-4" data-aos="fade-up" data-aos-duration="3000">
    <h1  style="color: rgb(175, 2, 175); text-shadow: 2px 2px 2px black;">{{caci.cacihead11}}</h1>
    <p class="text">
      {{caci.caci11}}
    </p>
    <div class="container text-center">
      <a href="{% url 'pricing' %}CACI Treatments"> <button class="button" type="submit">Our Prices</button></a>
    </div>
  </div>

  <hr style="border: 1px solid rgb(175, 2, 175);" />

  <div class="rectangle mt-4 mb-4" data-aos="fade-up" data-aos-duration="3000">
    <h1  style="color: rgb(175, 2, 175); text-shadow: 2px 2px 2px black;">{{caci.cacihead12}}</h1>
    <p class="text">
      {{caci.caci12}}
    </p>
    <div class="container text-center">
      <a href="{% url 'pricing' %}CACI Treatments"> <button class="button" type="submit">Our Prices</button></a>
    </div>
  </div>
</div>
{% endblock content %}
