{% extends 'website/index.html' %}

{% block csslink %}
{% load static %}
<link href="{% static 'css/checkout.css' %}" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

<link href="{% static 'css/aboutus.css' %}" rel="stylesheet" />

{% endblock csslink %}

{% block content %}

<body style="background-image: url(../images/gifts.jpg);
    background-attachment: fixed;background-position: center;background-size: auto;">
    <div class="container">
        <main>
            <div class="py-5 text-center">
                <img class="d-block mx-auto mb-4" src="/images/a2.png" alt="" width="150px" height="57">
                <h2>Checkout</h2>

                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="../index.html" style="text-decoration: none; color: black; font-size: 1.5em;">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page" style=" font-size: 1.5em;">Checkout
                        </li>
                    </ol>
                </nav>
            </div>


            <div class="row g-5">
                <div class="col-md-5 col-lg-4 order-md-last">
                    <h4 class="d-flex justify-content-between align-items-center mb-3">
                        <span class="text">Your cart</span>
                        <span class="badge bg-primary rounded-pill">3</span>
                    </h4>
                    <ul class="list-group mb-3">
                        {% for i in allitems %}
                        <li class="list-group-item d-flex justify-content-between lh-sm">
                            <div>
                                <h6 class="my-0">{{i.name}}</h6>
                                <small class="text-muted"></small>
                            </div>
                            <span class="text-muted">&#163 {{i.price}}</span>
                        </li>
                        {% endfor %}
                        <li class="list-group-item d-flex justify-content-between lh-sm"
                            style="border-top: 3px solid black;">
                            <div>
                                <h6 class="my-0">Strong</h6>
                                <small class="text-muted"></small>
                            </div>
                            <span class="text-muted"><strong>&#163 {{total}}</strong></span>
                        </li>
                    </ul>
                </div>
            </div>
        </main>


        <input type="hidden" id="total_amount"></input>
        <input type="hidden" name="total_payment" id="total_payment"></input>

        <input type="hidden" name="payment_status" id="paymentstatus">

        <div id="paypal-button-container" style="width: 50%; margin:auto; margin-bottom: 25px;"></div>
        <script
            src="https://www.paypal.com/sdk/js?client-id=AWFL7YRuIbPx-nbOh0-l8K8yxbOKsaaIzjSC4NMMJEcR3el2R0hEjF26UrosJAx7f9R-QQEXMgb_LT7u&currency=USD"></script>

        <script>

            paypal.Buttons({
                createOrder: (data, actions) => {
                    var amountt = document.getElementById("total_amount").value;
                    return actions.order.create({
                        purchase_units: [{
                            amount: {
                                value: "{{total}}"
                            }
                        }]
                    });
                },
                onApprove: (data, actions) => {
                    let amounttt = document.getElementById("total_amount").value;

                    return actions.order.capture().then(function (orderData) {
                        console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
                        const transaction = orderData.purchase_units[0].payments.captures[0];
                        alert(`Payment has been Done`)
                        $('#paymentstatus').val("PaymentisDonecheckit");
                        $('#total_payment').val(amounttt);

                        submitform()
                        function submitform() {
                            document.getElementById("bookingform").submit();
                            alert('test');
                        }
                    });
                }
            }).render('#paypal-button-container');
        </script>
    </div>

    <div class="modal-footer">
        <input type="submit" value="Book" id="save">
    </div>

    <footer class="my-5 pt-5 text-muted text-center text-small">
        <p class="mb-1">&copy; 2022 REENA's SPA AND SALON</p>

    </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>

    {% endblock content %}