{% extends 'website/index.html' %}

{% block csslink %}
{% load static %}

<link href="{% static 'css/contactus.css' %}" rel="stylesheet" />
<style>
  ul{
    list-style: none;
  }
</style>

{% endblock csslink %}

{% block body %}

<body class="bg-light">
{% endblock body %}


  {% block content %}

  <!-- Messages -->
  <ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }} p-2  mb-2 bg-success"
      style="text-align:center; width :95%; margin: auto auto; list-style:none;" {% endif %}>{{ message }}</li>
      {% endfor %}
  </ul>
  <!-- End Messages -->


  <div class="main mx-auto mb-5" style="margin-top: 150px;">
    <div class="container-fluid">
      <p class="text-center mt-3" style="
            color: rgb(0, 0, 0); 
            font-weight: 600;
            font-size: 1.5em;
            text-shadow: 2px 2px 2px white;
            width: 50%;
            margin: auto;
          ">
        We're always happy to hear from our customers. Whether you have a
        question about our products or services, or just want to say hello,
        we'd love to hear from you.
      </p>
    </div>
    <div class="container-fluid bg-secondary" style="width: 60%">
      <h5 style="text-align: center; font-weight: 700; font-size: 1.5em; color: white;">
        Contact Info
      </h5>
      <p>
        <i class="fa-solid fa-location-pin mx-2" style="color: lightcoral"></i>207 Waldegrave Road, Teddington, TW11 8LX
      </p>
      <p>
        <i class="fa-solid fa-envelope mx-2" style="color: lightcoral"></i>reenavirdee@hotmail.com
      </p>
      <p>
        <i class="fa-solid fa-phone mx-2" style="color: lightcoral"></i>07969385877
      </p>

      <div class="brands" style="display: flex; flex-direction: row">
        <a href="#"><i class="fa-brands fa-facebook mx-3" style="color: lightcoral"></i></a>
        <a href="#"><i class="fa-brands fa-instagram" style="color: lightcoral"></i></a>
      </div>
    </div>
    <div class="container bg-light" style="width: 60%; border: none; border-radius: 0px">
      <form action="" method="post">
        <div class="row g-3">
          {% csrf_token %}
          <div class="col">
            <input type="text" class="form-control" placeholder="Name" name="name" aria-label="Name"
              style="border-radius: 0px; border: 1px solid lightcoral" />
          </div>
          <div class="col">
            <input type="text" class="form-control" placeholder="Telephone" name="phone" aria-label="Telephone"
              style="border-radius: 0px; border: 1px solid lightcoral" />
          </div>
          <div class="col-sm-12">
            <input type="text" class="form-control" placeholder="Email" name="email" aria-label="Email"
              style="border-radius: 0px; border: 1px solid lightcoral" />
          </div>
          <div class="form-floating">
            <textarea class="form-control" placeholder="Leave a comment here" name="message" id="floatingTextarea"
              style="border-radius: 0px; border: 1px solid lightcoral"></textarea>
            <label for="floatingTextarea">Message</label>
          </div>
        </div>
        <div class="container-fluid text-center">
          <button class="button mt-2 mx-auto" type="Submit" style="margin: auto; width: 50%">
            Submit
          </button>
        </div>
    </div>
    </form>
  </div>
  {% endblock content %}
