{% extends 'website/index.html' %}

{% block csslink %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/caci.css' %}">
{% endblock csslink %}


{% block content %}
<div class="main mx-auto">
  <div class="box">
    <img src="{% static 'images/facial.jpg' %}" alt="Dermalogica Treatments" class="img-fluid" />
    <h1 class="left mx-auto" style="color: rgb(175, 2, 175);; text-shadow: 2px 2px 2px black;">Dermalogica</h1>
  </div>

  <div class="container mt-4" data-aos="fade-up" data-aos-duration="3000">
    <p class="text" style="text-align: center">
      {{derma.derma1}}
    </p>
    <div class="container text-center">
      <a href="{% static 'pdf/Aftercare Advice for Facial Electrical Treatment.pdf' %}" target="_blank"><button class="button"
          type="submit">Our Prices</button></a>
    </div>
  </div>

  <hr style="border: 1px solid rgb(175, 2, 175);" />

  <div class="rectangle mt-4" data-aos="fade-up" data-aos-duration="3000">
    <h1  style="color: rgb(175, 2, 175);; text-shadow: 2px 2px 2px black;">{{derma.dermahead1}}</h1>
    <p class="text">
      {{derma.derma2}}
    </p>
    <div class="container text-center">
      <a href="{% url 'pricing' %}#Dermalogica"><button class="button" type="submit">Our Prices</button></a>
    </div>
  </div>

  <hr style="border: 1px solid rgb(175, 2, 175);" />

  <div class="rectangle mt-4" data-aos="fade-up" data-aos-duration="3000">
    <h1  style="color: rgb(175, 2, 175);; text-shadow: 2px 2px 2px black;">{{derma.dermahead2}}</h1>
    <p class="text">
      {{derma.derma3}}
    </p>
    <div class="container text-center">
      <a href="{% url 'pricing' %}#Dermalogica"><button class="button" type="submit">Our Prices</button></a>
    </div>
  </div>

  <hr style="border: 1px solid rgb(175, 2, 175);" />

  <div class="rectangle mt-4" data-aos="fade-up" data-aos-duration="3000">
    <h1  style="color: rgb(175, 2, 175);; text-shadow: 2px 2px 2px black;">{{derma.dermahead3}}</h1>
    <p class="text">{{derma.derma4}}</p>
    <div class="container text-center">
      <a href="{% url 'pricing' %}#Dermalogica"><button class="button" type="submit">Our Prices</button></a>
    </div>
  </div>

  <hr style="border: 1px solid rgb(175, 2, 175);" />

  <div class="rectangle mt-4" data-aos="fade-up" data-aos-duration="3000">
    <h1  style="color: rgb(175, 2, 175);; text-shadow: 2px 2px 2px black;">{{derma.dermahead4}}</h1>
    <p class="text">
      {{derma.derma5}}
    </p>
    <div class="container text-center">
      <a href="{% url 'pricing' %}#Dermalogica"><button class="button" type="submit">Our Prices</button></a>
    </div>
  </div>
  <hr style="border: 1px solid rgb(175, 2, 175);" />

  <div class="rectangle mt-4" data-aos="fade-up" data-aos-duration="3000">
    <h1  style="color: rgb(175, 2, 175);; text-shadow: 2px 2px 2px black;">{{derma.dermahead5}}</h1>
    <p class="text">
      {{derma.derma6}}
    </p>
    <div class="container text-center">
      <a href="{% url 'pricing' %}#Dermalogica">
      <button class="button" type="submit">Our Prices</button></a>
    </div>
  </div>

  <hr style="border: 1px solidrgb(175, 2, 175);" />

  <div class="rectangle mt-4" data-aos="fade-up" data-aos-duration="3000">
    <h1  style="color: rgb(175, 2, 175);; text-shadow: 2px 2px 2px black;">{{derma.dermahead6}}</h1>
    <p class="text">
      {{derma.derma7}}
    </p>
    <div class="container text-center">
      <a href="{% url 'pricing' %}#Dermalogica"><button class="button" type="submit">Our Prices</button></a>
    </div>
  </div>

  <hr style="border: 1px solid rgb(175, 2, 175);" />

  <div class="rectangle mt-4 mb-3" data-aos="fade-up" data-aos-duration="3000">
    <h1  style="color: rgb(175, 2, 175);; text-shadow: 2px 2px 2px black;">{{derma.dermahead7}}</h1>
    <p class="text">
      {{derma.derma8}}
    </p>
    <div class="container text-center">
      <a href="{% url 'pricing' %}#Dermalogica"><button class="button" type="submit">Our Prices</button></a>
    </div>
  </div>
</div>

{% endblock content %}