{% extends 'website/index.html' %}

{% block csslink %}
{% load static %}
  <link href="{% static 'css/caci.css'%}" rel="stylesheet" />
{% endblock csslink %}

{% block body %}
<body class="bg-light">
{% endblock body %}

{% block content %}
  <div class="main mx-auto">
    <div class="box">
      <img src="{% static 'images/gifts.jpg' %}" alt="Dermalogica Treatments" class="img-fluid" />
      <h1 class="left mx-auto" style="font-size: 6vw">
        Gift Vouchers, Retail, Payments, Courses
      </h1>
    </div>

    <div class="rectangle mt-4" data-aos="fade-up" data-aos-duration="3000">
      <h1>Consultation</h1>
      <p class="text">
        We offer free consultations to help you choose exactly the right
        treatments for you.
      </p>
    </div>
    <hr style="border: 1px solid rgb(94, 255, 0)" />

    <div class="rectangle mt-4" data-aos="fade-up" data-aos-duration="3000">
      <h1>Gift Vouchers</h1>
      <p class="text">
        Makes a perfect gift and are available for any treatment or amount.
        Vouchers have a 6 month expiry date and can be purchased over the
        phone with card details.
      </p>
    </div>

    <hr style="border: 1px solid rgb(94, 255, 0)" />

    <div class="rectangle mt-4" data-aos="fade-up" data-aos-duration="3000">
      <h1>Retail</h1>
      <p class="text">
        To compliment your treatment a full range of products are available to
        purchase.
      </p>
    </div>

    <hr style="border: 1px solid rgb(94, 255, 0)" />

    <div class="rectangle mt-4" data-aos="fade-up" data-aos-duration="3000">
      <h1>Payments</h1>
      <p class="text">All major credit and debit cards are welcome.</p>
    </div>

    <hr style="border: 1px solid rgb(94, 255, 0)" />

    <div class="rectangle mt-4" data-aos="fade-up" data-aos-duration="3000">
      <h1>Courses</h1>
      <p class="text">
        We recommend professional skincare treatments every four to six weeks.
        You can pre-purchase 5 treatments and receive an extra one free.
      </p>
    </div>

    <hr style="border: 1px solid rgb(94, 255, 0)" />

    <div class="rectangle mt-4" data-aos="fade-up" data-aos-duration="3000">
      <h1>Offers</h1>
      <p class="text">
        Keep up to date with all our monthly offers by viewing and liking our
        Facebook page
      </p>
    </div>

    <hr style="border: 1px solid rgb(94, 255, 0)" />

    <div class="rectangle mt-4" data-aos="fade-up" data-aos-duration="3000">
      <h1>Cancellations</h1>
      <p class="text">
        As courtesy to our therapists and other clients we require a minimum
        of 24 hours notice if you are unable to attend your appointment.
        Failure to do so may result in a charge being made.
      </p>
    </div>
  </div>

  {% endblock content %}