{% extends 'website/index.html' %}

{% block csslink %}
{% load static %}
  <link href="{% static 'css/caci.css'%}" rel="stylesheet" />
{% endblock csslink %}

{% block body %}
<body class="bg-light">
{% endblock body %}

{% block content %}
  <div class="main mx-auto">
    <div class="box">
      <img src="{% static 'images/gifts.jpg' %}" alt="Dermalogica Treatments" class="img-fluid" />
      <h1 class="left mx-auto" style="font-size: 6vw; color: rgb(255, 101, 127); text-shadow: 2px 2px 2px black;">
        {{gift.name}}
      </h1>
    </div>

    <div class="rectangle mt-4" data-aos="fade-up" data-aos-duration="3000">
      <h1  style="color: rgb(255, 101, 127); text-shadow: 2px 2px 2px black;">{{gift.dermahead1}}</h1>
      <p class="text">
        {{gift.derma1}}
      </p>
    </div>
    <hr style="border: 1px solid rgb(255, 101 , 127)" />

    <div class="rectangle mt-4" data-aos="fade-up" data-aos-duration="3000">
      <h1  style="color: rgb(255, 101, 127); text-shadow: 2px 2px 2px black;">{{gift.dermahead2}}</h1>
      <p class="text">
        {{gift.derma2}}
      </p>
    </div>

    <hr style="border: 1px solid rgb(255, 101, 127)" />

    <div class="rectangle mt-4" data-aos="fade-up" data-aos-duration="3000">
      <h1  style="color: rgb(255, 101, 127); text-shadow: 2px 2px 2px black;">{{gift.dermahead3}}</h1>
      <p class="text">
        {{gift.derma3}}
      </p>
    </div>

    <hr style="border: 1px solid rgb(255, 101, 127)" />

    <div class="rectangle mt-4" data-aos="fade-up" data-aos-duration="3000">
      <h1  style="color: rgb(255, 101, 127); text-shadow: 2px 2px 2px black;">{{gift.dermahead4}}</h1>
      <p class="text">{{gift.derma4}}</p>
    </div>

    <hr style="border: 1px solid rgb(255, 101, 127)" />

    <div class="rectangle mt-4" data-aos="fade-up" data-aos-duration="3000">
      <h1  style="color: rgb(255, 101, 127); text-shadow: 2px 2px 2px black;">{{gift.dermahead5}}</h1>
      <p class="text">
        {{gift.derma5}}
      </p>
    </div>

    <hr style="border: 1px solid rgb(255, 101, 127)" />

    <div class="rectangle mt-4" data-aos="fade-up" data-aos-duration="3000">
      <h1  style="color: rgb(255, 101, 127); text-shadow: 2px 2px 2px black;">{{gift.dermahead6}}</h1>
      <p class="text">
        {{gift.derma6}}
      </p>
    </div>

    <hr style="border: 1px solid rgb(255, 101, 127)" />

    <div class="rectangle mt-4" data-aos="fade-up" data-aos-duration="3000">
      <h1  style="color: rgb(255, 101, 127); text-shadow: 2px 2px 2px black;">{{gift.dermahead7}}</h1>
      <p class="text">
        {{gift.derma7}}
      </p>
    </div>
  </div>

  {% endblock content %}