{% extends 'website/index.html' %}

{% block csslink %}
{% load static %}
  <link href="{% static 'css/caci.css'%}" rel="stylesheet" />
{% endblock csslink %}

{% block body %}
<body class="bg-light">
{% endblock body %}

{% block content %}
    <div class="main mx-auto">
      <div class="box text-center">
        <img
          src="{% static 'images/mehndi.jpg' %}"
          alt="Dermalogica Treatments"
          class="img-fluid"
        />
        <h1 class="left mx-auto">Henna</h1>
      </div>

      <div
        class="container mt-4 mb-3"
        data-aos="fade-up"
        data-aos-duration="3000"
      >
        <p class="text" style="text-align: center">
          Mehndi begins as a henna paste that is expertly applied to the surface
          of the skin. As it dries, it flakes off, revealing the orange-hued
          patterns on the skin below. Throughout the course of the wear, mehndi
          will darken before it begins to fade.
        </p>
        <div class="container text-center">
          <a href="{% url 'pricing' %}" target="_blank"
            ><button class="button text-center mt-3 mb-3 mx-auto" type="button">
              Book An Experience
            </button></a
          >
        </div>
      </div>

      <hr style="border: 1px solid rgb(94, 255, 0)" />

      <div
        class="container mt-4 mb-3"
        data-aos="fade-up"
        data-aos-duration="3000"
      >
        <p class="text" style="text-align: center; font-size: 1.5em">
          Reena Has Trained Extensively in India to Master to Art Of Mehndi.
        </p>
      </div>
    </div>

    {% endblock content %}
