<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Reena.uk</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous" />


  {% block csslink %}
  {% load static %}
  <link href="{% static 'css/body.css' %}" rel="stylesheet" />
  {% endblock csslink %}

  <!--aos-->
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet" />
  <!--fontawesome-->
  <script src="https://kit.fontawesome.com/8feaa5fbd6.js" crossorigin="anonymous"></script>
  <!--css-->
  <link href="{% static 'css/index.css' %}" rel="stylesheet" />
</head>

{% block body %}

<body>
  {% endblock body %}

  <div class="header fixed-top">
    <div class="container-fluid bg-secondary" style="height: 2em">
      <div class="row">
        <div class="col-sm-6 mx-auto">
          <div class="contact mt-1 mx-auto">
            <div class="number">
              <i class="fa-solid fa-phone mt-1 mx-1" style="color: lightcoral;"></i>
              07969385877
            </div>
            <span class="line mx-2">|</span>
            <div class="email">
              <i class="fa-solid fa-envelope mt-1 mx-1" style="color: lightcoral;"></i>
              reenavirdee@hotmail.com
            </div>
          </div>
        </div>
        <div class="col-sm-5"></div>
        <div class="col-sm-1">
          <div class="socials mt-1 mx-auto">
            <div class="instagram">
              <a href="#"><i class="fa-brands fa-instagram mx-2"></i></a>
            </div>
            <div class="facebook">
              <a href="#"><i class="fa-brands fa-facebook"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>


    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <a class="navbar-brand mx-3" href="/"><img src="{% static 'images/a2.png' %}" class="img-fluid" /></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Treatments
              </a>
              <ul class="dropdown-menu">
                <li>
                  <a class="dropdown-item" href="{% url 'dermalogica' %}">Dermalogica Treatments</a>
                </li>
                <li><a class="dropdown-item" href="{% url 'caciview' %}">CACI Synergy</a></li>
                <li>
                  <a class="dropdown-item" href="{% url 'iplview' %}">Elight IPL / SHR Hair Removal Treatments</a>
                </li>
                <li><a class="dropdown-item" href="{% url 'waxingview' %}">Waxing</a></li>
                <li><a class="dropdown-item" href="{% url 'nailextview' %}">Nail Extension</a></li>
                <li><a class="dropdown-item" href="{% url 'bridalview' %}">Make Up</a></li>
                <li><a class="dropdown-item" href="{% url 'tintingview' %}">Tinting</a></li>
                <li><a class="dropdown-item" href="{% url 'earpview' %}">Ear Piercing</a></li>
                <li><a class="dropdown-item" href="{% url 'electroview' %}">Electrolysis</a></li>
                <li>
                  <a class="dropdown-item" href="{% url 'manicureview' %}">Manicure & Pedicure</a>
                </li>
                <li>
                  <a class="dropdown-item" href="{% url 'massageview' %}">Massage</a>
                </li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'pricing' %}">Pricelist</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'aboutus' %}">About Us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'contactus' %}">Contact</a>
            </li>
          </ul>
          <hr />
          <div class="conatiner text-center">
            <a href="{% url 'add_booking' %}"><button class="btn-1 text-center">
                <i class="fa-solid fa-calendar mx-2"></i>Book Now
              </button></a>
          </div>
        </div>
      </div>
    </nav>
  </div>

  {% if messages %}
  <ul class="messages">
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }} p-2 mb-2 bg-success text-white"
          style="list-style: none; border-radius: 10px; width: 95%; margin: auto auto;" {% endif %}>{{ message }}</li>
          {% endfor %}
  </ul>
  {% endif %}
  {% block content %}
  <div class="main mx-auto">
    <div class="box mt-5" data-aos="fade-up" data-aos-duration="3000">
      <img src="{% static 'images/f1 (1).jpeg' %}" class="img-1 mt-5 img-fluid" style="max-width: 100%; width: 100%;" />
      <div class="container-fluid mx-auto">
        <h1 class="up mx-auto mt-2" style="color: black;">Welcome To Reena's Spa & Salon.</h1>
        {% if not user.is_authenticated %}
        <a href="{% url 'login' %}"><button class="button mx-auto mt-5" type="button">Login</button></a>
        {% else %}
        <a href="{% url 'logout' %}"><button class="button mx-auto mt-5" type="button">Logout</button></a>
        {% endif %}
      </div>
    </div>



    <div class="box" data-aos="fade-up" data-aos-duration="3000">
      <img src="{% static 'images/f1 (2).jpeg' %}" class="img-2 img-fluid" style="width: 100%" />
      <div class="container mx-auto">
        <h1 class="centered mx-auto">
          Always Make Room for Beauty in Your Life.
        </h1>
        <a href="{% url 'add_booking' %}"><button class="button mx-auto mt-5" type="button">
            Book
          </button></a>
      </div>
    </div>

    <div class="box" data-aos="fade-up" data-aos-duration="3000">
      <img src="{% static 'images/f1 (3).jpeg' %}" class="img-3 img-fluid" style="width: 100%" />
      <div class="container mx-auto">
        <h1 class="right mx-auto">Relax, Enjoy and Love Yourself.</h1>
        <a href="{% url 'aboutus' %}"><button class="button mx-auto mt-5" type="button">About Us</button></a>
      </div>
    </div>

    <div class="box" data-aos="fade-up" data-aos-duration="3000">
      <img src="{% static 'images/f4.jpeg' %}" class="img-4 img-fluid" style="width: 100%" />
      <div class="container mx-auto">
        <h1 class="left mx-auto mb-5">Rewards</h1>
        <a href="{% url 'rewards' %}"><button class="button mx-auto mt-5" type="button">
            Find Out More
          </button></a>
      </div>
    </div>
  </div>
  {% endblock content %}


  <!--footer-->
  <section class="section bg-black">
    <footer class="footer theme-bg-black">
      <div class="container-fluid mx-auto py-1 mt-3">
        <div class="row">
          <div class="col-sm-4">
            <h4 class="col-heading" style="margin-left: 31px">
              Opening Hours
            </h4>
            <ul class="ul" style="text-align: left">
              <p>Monday: Closed</p>
              <p>Tuesday: 10am - 6pm</p>
              <p>Wednesday: 10am - 6pm</p>
              <p>Thursday: 10am - 6pm</p>
              <p>Friday: 10am - 6pm</p>
              <p>Saturday: 10am - 6pm</p>
              <p>Sunday: Closed</p>
            </ul>
          </div>
          <div class="col-sm-3 mx-auto">
            <h4 class="col-heading mt-0" style="margin-left: 31px">
              Reena's
            </h4>
            <ul class="ul" style="text-align: left">
              <li>
                <a href="#" class="nav-link mb-2" style="font-size: 1.2em">Home</a>
              </li>
              <li>
                <a href="#" class="nav-link mb-2" style="font-size: 1.2em">About Us</a>
              </li>
              <li>
                <a href="#" class="nav-link mb-2" style="font-size: 1.2em">Services</a>
              </li>
              <li>
                <a href="#" class="nav-link mb-2" style="font-size: 1.2em">Pricing</a>
              </li>
              <li>
                <a href="#" class="nav-link mb-2" style="font-size: 1.2em">Contact Us</a>
              </li>
            </ul>
          </div>

          <div class="col-sm-5 mx-auto">
            <h4 class="col-heading mt-1" style="margin-left: 31px">
              Contact Us
            </h4>
            <p style="margin-left: 33px">
              Our Salon Is Situated in Teddington, London.
            </p>
            <p style="margin-left: 33px">
              Feel Free to Visit Us, Call or Book an Appointment!
            </p>
            <div class="container-fluid">
              <div class="row g-3">
                <div class="col-sm-12" style="margin-left: 20px">
                  <i class="fa-solid fa-location-pin mx-1"></i>
                  <p style="display: inline; text-align: center">
                    207 Waldegrave Road, Teddington, TW11 8LX
                  </p>
                </div>
                <div class="col-sm-12" style="margin-left: 20px">
                  <i class="fa-solid fa-envelope mx-1"></i>
                  <p style="display: inline">reenavirdee@hotmail.com</p>
                </div>
                <div class="col-sm-12 mb-3" style="margin-left: 20px">
                  <i class="fa-solid fa-phone mx-2"></i>
                  <p style="display: inline">07969385877</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr style="border: 2px solid white" />
        <div class="container-fluid mx-auto text-center mb-5">
          <div class="row">
            <div class="col-sm-6 mt-3">
              <p style="font-size: 1.5em; font-weight: 600">Visit Us Here!</p>
              <div class="map-responsive">
                <iframe
                  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2487.391926902979!2d-0.34093818481731963!3d51.43259582399166!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48760c82e87c8f89%3A0x2cbb42bc02982b9c!2sReena&#39;s%20Hair%20and%20Beauty%20Salon!5e0!3m2!1sen!2sin!4v1669811046699!5m2!1sen!2sin"
                  width="600" height="450" frameborder="0" style="border: 0" allowfullscreen="" aria-hidden="false"
                  tabindex="0"></iframe>
              </div>
            </div>
            <div class="col-sm-6 mt-3 text-center">
              <p style="font-size: 1.5em; font-weight: 600">Follow Us</p>
              <iframe
                src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2FReenasHairAndBeauty%2F&tabs=timeline&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId"
                width="340" height="500" style="
                  border: none;
                  overflow: hidden;
                  box-shadow: 2px 2px 50px 8px lightblue;
                  padding: 1em 1em 1em;
                " scrolling="no" frameborder="0" allowfullscreen="true"
                allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
            </div>
          </div>
        </div>

        <hr style="border: 2px solid white" />

        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-4 mt-3">
              <p>All Rights Reserved</p>
            </div>
            <div class="col-sm-4 mx-auto"></div>
          </div>
        </div>
      </div>
    </footer>
  </section>
  <!--javascript-->
  <script src="{% static 'javascript/body.js' %}"></script>
  <!--js-->
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <!--js-->
  <script>
    AOS.init();
  </script>
  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
    crossorigin="anonymous"></script>



</body>

</html>