<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>LOGIN/SIGN UP</title>
	{% load static %}
	<link href="{% static 'css/login.css' %}" rel="stylesheet">
	<script src="https://code.jquery.com/jquery-3.6.3.js"
		integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>

		<script src="https://kit.fontawesome.com/a895c3d792.js" crossorigin="anonymous"></script>
	<style>
		.red {
			border: 1px solid red;
		}

		.green {
			border: 1px solid transparent;
		}
	</style>
</head>

<body>
	{% load socialaccount %}

	<div class="container" id="container">
		<div class="form-container sign-up-container">
			<form action="" method="POST" id="submit-form" autocomplete="off">
				{% csrf_token %}
				<h1>Create Account</h1>
				<div class="social-container">
					<a href="{% provider_login_url 'google' %}" class="social"><ion-icon name="logo-google"></ion-icon></a>
				</div>
				<span>or use your email for registration</span>
				<input type="text" placeholder="username" name="username" id="username" />
				<input type="email" placeholder="Email" name="email" id="email" />
				<input type="password" placeholder="Password" name="password1" />
				<input type="password" placeholder="Password" name="password2" />
				<input type="submit" value="Submit" style="cursor: pointer;">
			</form>
			<div id="message">
				<h3>Password must contain the following:</h3>
				<p id="letter" class="invalid">A <b>lowercase</b> letter</p>
				<p id="capital" class="invalid">A <b>capital (uppercase)</b> letter</p>
				<p id="number" class="invalid">A <b>number</b></p>
				<p id="length" class="invalid">Minimum <b>8 characters</b></p>
			</div>
		</div>
		<div class="form-container sign-in-container">
			<form action="" method="POST">
				{% csrf_token %}
				<h1>Sign in</h1>
				<div class="social-container">
					<a href="{% provider_login_url 'google' %}" class="social"><ion-icon name="logo-google"></ion-icon></a>
				</div>
				<span>or use your e-mail account</span>
				<input type="email" name="email" placeholder="Email" />
				<input type="password" name="password" placeholder="Password" />
				<a href="{% url 'forgetpassword' %}">Forgot your password?</a>
				<input type="submit" value="Submit" style="cursor: pointer;">
				<!-- <a href="{% url 'pricing' %}">Book An Appointment as a Guest</a> -->
			</form>
		</div>
		<div class="overlay-container">
			<div class="overlay">
				<div class="overlay-panel overlay-left">
					<h1>Welcome Back!</h1>
					<p>To keep connected with us please login with your personal info</p>
					<button class="ghost" id="signIn">Sign In</button>
				</div>
				<div class="overlay-panel overlay-right">
					<h1>Hello! New Here?</h1>
					<p>Enter your personal details and start journey with us</p>
					<button class="ghost" id="signUp">Sign Up</button>
				</div>
			</div>
			<!-- <a href="{% url 'pricing' %}">Book An Appointment as a Guest</a> -->

		</div>
	</div>
	{% if messages %}
	<ul class="messages">
		{% for message in messages %}
		<li{% if message.tags %} class="{{ message.tags }} p-2 mb-2 bg-success text-white" style="list-style: none; border-radius: 10px; width: 95%; margin: auto auto; z-index: 10000;" {% endif %}>{{ message }}</li>
			{% endfor %}
	</ul>
	{% endif %}
	<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
	<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

	<script>
		const signUpButton = document.getElementById('signUp');
		const signInButton = document.getElementById('signIn');
		const container = document.getElementById('container');

		signUpButton.addEventListener('click', () => {
			container.classList.add("right-panel-active");
		});

		signInButton.addEventListener('click', () => {
			container.classList.remove("right-panel-active");
		});
	</script>


	<script>

		// Booking Model AJAX CALL 
		$(document).on('submit', '#submit-form', function (event) {
			event.preventDefault();
			let x = $('#submit-form')

			$.ajax({
				type: 'POST',
				url: "{% url 'signup' %}",
				data: x.serialize(),

				success: function (data) {
					console.log("Done");
					window.location = "/"
				},
				error: function (data) {
					const errdata = data;
					console.log("Error: ", errdata.responseText)
					alert(errdata.responseText)
					// console.log("Error: ", errdata.responseText.error.password2)
					// alert(data.responseText)
				}
			})
		})


		// ###################### USername Check ################
		$('#username').change(function () {
			let x = $('#username').val()

			console.log("C: ", x)
			$.ajax({
				type: 'POST',
				url: "{% url 'getUsername' %}",
				data: { 'username': x, 'csrfmiddlewaretoken': "{{csrf_token}}" },
				success: function (data) {
					// var instance = JSON.parse(data["amount"]);
					console.log(data['amount'])
					// $('#usernamecheck').val(data['amount']);
					console.log("Done");
					if (data['amount'] == "") {
						$('#username').addClass("green");
					}
					else {
						$('#username').addClass("red");
					}
				},
				error: function (error) {
					// alert the error if any error occured

					// alert(response["responseJSON"]["error"]);
				}
			})
		})

		// ###################### Username Check ################
		$('#email').change(function () {
			let x = $('#email').val()

			console.log("C: ", x)
			$.ajax({
				type: 'POST',
				url: "{% url 'getEmail' %}",
				data: { 'email': x, 'csrfmiddlewaretoken': "{{csrf_token}}" },
				success: function (data) {
					console.log(data['amount'])
					console.log("Done");
					if (data['amount'] == "") {
						$('#email').addClass("green");
					}
					else {
						$('#email').addClass("red");
					}
				},
			})
		})

	</script>

</body>

</html>