{% extends 'website/index.html' %}

{% block title %}
<title>Manicure & Pedicure</title>
{% endblock title %}

{% block csslink %}
{% load static %}
<link href="{% static 'css/caci.css' %}" rel="stylesheet" />
{% endblock csslink %}

{% block body %}
<body class="bg-light">
  {% endblock body %}


{% block content %}
  <div class="main mx-auto">
    <div class="box">
      <img src="{% static 'images/manicure & pedicure.jpg' %}" alt="Dermalogica Treatments" class="img-fluid" />
      <h1 class="left mx-auto">{{man.name}}</h1>
    </div>

    <div class="container mt-4 mb-3" data-aos="fade-up" data-aos-duration="3000">
      <p class="text" style="text-align: center">
        {{man.derma1}}
      </p>
    </div>

    <hr style="border: 1px solid rgb(94, 255, 0)" />

    <div class="rectangle mt-4" data-aos="fade-up" data-aos-duration="3000">
      <h1>{{man.dermahead1}}</h1>
      <p class="text">
        {{man.derma2}}
      </p>
      <div class="container text-center">
        <a href="{% url 'pricing' %}" target="_blank"><button class="button text-center mt-3 mb-3 mx-auto" type="button">
            Our Prices
          </button></a>
      </div>
    </div>
    <hr style="border: 1px solid rgb(94, 255, 0)" />

    <div class="rectangle mt-4" data-aos="fade-up" data-aos-duration="3000">
      <h1>{{man.dermahead2}}</h1>
      <p class="text">
        {{man.derma3}}
      </p>
      <div class="container text-center">
        <a href="{% url 'pricing' %}" target="_blank"><button class="button text-center mt-3 mb-3 mx-auto" type="button">
            Our Prices
          </button></a>
      </div>
    </div>
    <hr style="border: 1px solid rgb(94, 255, 0)" />

    <div class="rectangle mt-4" data-aos="fade-up" data-aos-duration="3000">
      <h1>{{man.dermahead3}}</h1>
      <p class="text">
        {{man.derma4}}
      </p>
      <div class="container text-center">
        <a href="{% url 'pricing' %}" target="_blank"><button class="button text-center mt-3 mb-3 mx-auto" type="button">
            Our Prices
          </button></a>
      </div>
    </div>
    <hr style="border: 1px solid rgb(94, 255, 0)" />

    <div class="rectangle mt-4" data-aos="fade-up" data-aos-duration="3000">
      <h1>{{man.dermahead4}}</h1>
      <p class="text">
        {{man.derma5}}
      </p>
      <div class="container text-center">
        <a href="{% url 'pricing' %}" target="_blank"><button class="button text-center mt-3 mb-3 mx-auto" type="button">
            Our Prices
          </button></a>
      </div>
    </div>
    <hr style="border: 1px solid rgb(94, 255, 0)" />

    <div class="rectangle mt-4" data-aos="fade-up" data-aos-duration="3000">
      <h1>{{man.dermahead5}}</h1>
      <p class="text">
        {{man.derma6}}
      </p>
      <div class="container text-center">
        <a href="{% url 'pricing' %}" target="_blank"><button class="button text-center mt-3 mb-3 mx-auto" type="button">
            Our Prices
          </button></a>
      </div>
    </div>
    <hr style="border: 1px solid rgb(94, 255, 0)" />

    <div class="rectangle mt-4" data-aos="fade-up" data-aos-duration="3000">
      <h1>{{man.dermahead6}}</h1>
      <div class="container text-center">
        <a href="{% static 'pdf/Aftercare Advice for Manicure and Pedicure.pdf' %}" target="_blank"><button
            class="button text-center mt-3 mb-3 mx-auto" type="button">
            Aftercare
          </button></a>
      </div>
    </div>
  </div>
{% endblock content %}