{% extends 'website/index.html' %}

{% block csslink %}
{% load static %}

<link href="{% static 'css/caci.css' %}" rel="stylesheet" />
{% endblock csslink %}

{% block body %}

<body class="bg-light">
  {% endblock body %}

  {% block content %}

  <div class="main mx-auto">
    <div class="box">
      <img src="{% static 'images/nail extension.jpg' %}" alt="Dermalogica Treatments" class="img-fluid" />
      <h1 class="left mx-auto" style="color: rgb(175, 2, 175); text-shadow: 2px 2px 2px black;">{{nail.name}}</h1>
    </div>

    <div class="container mt-4 mb-3" data-aos="fade-up" data-aos-duration="3000">
      <p class="text" style="text-align: center; font-size: 1.5em">
        {{nail.derma1}}
      </p>
    </div>

    <hr style="border: 1px solid rgb(175, 2, 175)" />

    <div class="rectangle mt-4" data-aos="fade-up" data-aos-duration="3000">
      <h1  style="color: rgb(175, 2, 175); text-shadow: 2px 2px 2px black;">{{nail.dermahead1}}</h1>
      <ul class="ul" style="
            color: black;
            list-style: none;
            font-family: Poppins;
            text-align: center;
          ">
          {{nail.derma2|safe}}

      </ul>
      <div class="container text-center">
        <a href="{% url 'pricing' %}" target="_blank"><button class="button text-center mt-3 mb-3 mx-auto"
            type="button">
            Our Prices
          </button></a>
      </div>
    </div>
    <hr style="border: 1px solid rgb(175, 2, 175)" />

    <div class="rectangle mt-4" data-aos="fade-up" data-aos-duration="3000">
      <h1 style="color: rgb(175, 2, 175); text-shadow: 2px 2px 2px black;">{{nail.dermahead2}}</h1>
      <ul class="ul" style="
            color: black;
            list-style: none;
            font-family: Poppins;
            text-align: center;
          ">
                {{nail.derma3|safe}}

      </ul>
      <div class="container text-center">
        <a href="{% url 'pricing' %}" target="_blank"><button class="button text-center mt-3 mb-3 mx-auto"
            type="button">
            Our Prices
          </button></a>
      </div>
    </div>

    <hr style="border: 1px solid rgb(175, 2, 175)" />

    <div class="rectangle mt-4" data-aos="fade-up" data-aos-duration="3000">
      <h1  style="color: rgb(175, 2, 175); text-shadow: 2px 2px 2px black;">{{nail.dermahead3}}</h1>
      <p class="text">
        {{nail.derma4}}
      </p>
      <div class="container text-center">
        <a href="#" target="_blank"><button class="button text-center mt-3 mb-3 mx-auto" type="button">
            Aftercare
          </button></a>
      </div>
    </div>
  </div>

  {% endblock content %}