{% extends 'website/index.html' %}

{% block csslink %}
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/pricing.css' %}">

  {% endblock csslink %}
  
  {% block content %}
  
  {% block body %}
  <body class="bg-light">
    {% endblock body %}
    
  <!--mainbody-->
  <div class="main mx-auto bg-light">
    <div class="box">
      <img src="{% static 'images/p1.jpg' %}" class="img-fluid" />
      <h1 class="left mx-auto mt-2">Our Prices</h1>
    </div>

    <div class="container-fluid mx-auto bg-light">
      <p class="heading-1 mx-auto" data-aos="fade-up" data-aos-duration="3000">
        Quality Care At Affordable Prices!
      </p>
    </div>
    <hr style="border: 1px solid pink" />

    <div class="container-fluid mb-5 bg-light mx-auto">
      <div class="row g-5 mx-auto">
        <div class="col-sm-5">
          <p class="heading-2 text-center mt-5 mx-auto" data-aos="fade-up" data-aos-duration="3000">
            CACI Treatments
          </p>
        </div>
        <div class="col-sm-7 mb-3">
          <div class="boxes" data-aos="fade-up" data-aos-duration="3000">
            <div class="Services bg-black">
              <i class="fa-solid fa-spa mx-3"></i>Services
            </div>
            <div class="container border-bottom border-dark mt-3 mb-3">
              New CACI Synergy
              <div class="rate ms-auto">£90.00</div>
            </div>
            <div class="container border-bottom border-dark mt-3 mb-3">
              Synergy CACI Facial Toning
              <div class="rate ms-auto">£60.00</div>
            </div>
            <div class="container border-bottom border-dark mt-3 mb-3">
              Rejuvenating Synergy Purifying Facial
              <div class="rate ms-auto">£60.00</div>
            </div>
            <div class="container border-bottom border-dark mt-3 mb-3">
              Synergy Purifying Facial
              <div class="rate ms-auto">£60.00</div>
            </div>
            <div class="container border-bottom border-dark mt-3 mb-3">
              CACI Lip Plump Treatment
              <div class="rate ms-auto">£20.00</div>
            </div>
            <div class="container border-bottom border-dark mt-3 mb-3">
              CACI Acne Treatment
              <div class="rate ms-auto">£20.00</div>
            </div>
            <div class="container border-bottom border-dark mt-3 mb-3">
              CACI Jowl Lift
              <div class="rate ms-auto">£30.00</div>
            </div>
            <div class="container border-bottom border-dark mt-3 mb-3">
              CACI Eye Revive
              <div class="rate ms-auto">£30.00</div>
            </div>
          </div>
        </div>

        <hr style="border: 1px solid pink" />
        <!--second pricing-->
        <div class="col-sm-5">
          <p class="heading-2 text-center mt-5" data-aos="fade-up" data-aos-duration="3000">
            Manicure & Pedicure
          </p>
        </div>
        <div class="col-sm-7 mt-5">
          <div class="boxes" data-aos="fade-up" data-aos-duration="3000">
            <div class="Services bg-light">
              <i class="fa-solid fa-spa mx-3"></i>Services
            </div>
            <div class="container border-bottom border-dark mt-3 mb-3">
              File and Paint
              <div class="rate ms-auto">£10.00</div>
            </div>
            <div class="container border-bottom border-dark mt-3 mb-3">
              Mini Manicure
              <div class="rate ms-auto">£20.00</div>
            </div>
            <div class="container border-bottom border-dark mt-3 mb-3">
              Mini Pedicure
              <div class="rate ms-auto">£25.00</div>
            </div>
            <div class="container border-bottom border-dark mt-3 mb-3">
              Luxury Manicure
              <div class="rate ms-auto">£25.00</div>
            </div>
            <div class="container border-bottom border-dark mt-3 mb-3">
              Luxury Pedicure
              <div class="rate ms-auto">£30.00</div>
            </div>
            <div class="container border-bottom border-dark mt-3 mb-3">
              Shellac Manicure
              <div class="rate ms-auto">£25.00</div>
            </div>
            <div class="container border-bottom border-dark mt-3 mb-3">
              Shellac Pedicure
              <div class="rate ms-auto">£35.00</div>
            </div>
          </div>
        </div>

        <hr style="border: 1px solid pink" />
        <!--third-->

        <div class="col-sm-5">
          <p class="heading-2 text-center mt-5" data-aos="fade-up" data-aos-duration="3000">
            Nail Art
          </p>
        </div>
        <div class="col-sm-7 mt-5">
          <div class="boxes" data-aos="fade-up" data-aos-duration="3000">
            <div class="Services bg-black">
              <i class="fa-solid fa-spa mx-3"></i>Services
            </div>
            <div class="container border-bottom border-dark mt-3 mb-3">
              Nail Art
              <div class="rate ms-auto">£5.00</div>
            </div>
          </div>
        </div>

        <!--fourth-->
        <hr style="border: 1px solid pink" />

        <div class="col-sm-5">
          <p class="heading-2 text-center mt-5" data-aos="fade-up" data-aos-duration="3000">
            Piercing
          </p>
        </div>
        <div class="col-sm-7 mt-5">
          <div class="boxes" data-aos="fade-up" data-aos-duration="3000">
            <div class="Services bg-black">
              <i class="fa-solid fa-spa mx-3"></i>Services
            </div>
            <div class="container border-bottom border-dark mt-3 mb-3">
              Ear Piercing (one sides)
              <div class="rate ms-auto">£10.00</div>
            </div>
            <div class="container border-bottom border-dark mt-3 mb-3">
              Ear Piercing (both sides)
              <div class="rate ms-auto">£10.00</div>
            </div>
          </div>
        </div>
        <hr style="border: 1px solid pink" />
        <!--fifth-->
        <div class="col-sm-5">
          <p class="heading-2 text-center mt-5" data-aos="fade-up" data-aos-duration="3000">
            Massages
          </p>
        </div>
        <div class="col-sm-7 mt-5">
          <div class="boxes" data-aos="fade-up" data-aos-duration="3000">
            <div class="Services bg-black">
              <i class="fa-solid fa-spa mx-3"></i>Services
            </div>
            <div class="container border-bottom border-dark mt-3 mb-3">
              Indian Head Massage {30 min}
              <div class="rate ms-auto">£30.00</div>
            </div>
            <div class="container border-bottom border-dark mt-3 mb-3">
              Neck and Shoulder {30 min}
              <div class="rate ms-auto">£30.00</div>
            </div>
            <div class="container border-bottom border-dark mt-3 mb-3">
              Body Massage {60 min}
              <div class="rate ms-auto">£70.00</div>
            </div>
          </div>
        </div>

        <hr style="border: 1px solid pink" />

        <!--sixth-->

        <div class="col-sm-5">
          <p class="heading-2 text-center mt-5" data-aos="fade-up" data-aos-duration="3000">
            Waxing Ladies
          </p>
        </div>
        <div class="col-sm-7 mt-5">
          <div class="boxes" data-aos="fade-up" data-aos-duration="3000">
            <div class="Services bg-black">
              <i class="fa-solid fa-spa mx-3"></i>Services
            </div>
            <div class="container border-bottom border-dark mt-3 mb-3">
              Half Leg
              <div class="rate ms-auto">£20.00</div>
            </div>
            <div class="container border-bottom border-dark mt-3 mb-3">
              Full Leg
              <div class="rate ms-auto">£30.00</div>
            </div>
            <div class="container border-bottom border-dark mt-3 mb-3">
              Bikini
              <div class="rate ms-auto">£15.00</div>
            </div>
            <div class="container border-bottom border-dark mt-3 mb-3">
              Brazilian Wax
              <div class="rate ms-auto">£10.00</div>
            </div>
            <div class="container border-bottom border-dark mt-3 mb-3">
              Hollywood Wax
              <div class="rate ms-auto">£30.00</div>
            </div>
            <div class="container border-bottom border-dark mt-3 mb-3">
              Half Arm
              <div class="rate ms-auto">£20.00</div>
            </div>
            <div class="container border-bottom border-dark mt-3 mb-3">
              Full Arm
              <div class="rate ms-auto">£22.00</div>
            </div>
            <div class="container border-bottom border-dark mt-3 mb-3">
              Eyebrow
              <div class="rate ms-auto">£9.00</div>
            </div>
            <div class="container border-bottom border-dark mt-3 mb-3">
              Upper Lip
              <div class="rate ms-auto">£4.00</div>
            </div>
            <div class="container border-bottom border-dark mt-3 mb-3">
              Chin
              <div class="rate ms-auto">£4.00</div>
            </div>
            <div class="container border-bottom border-dark mt-3 mb-3">
              Cheeks
              <div class="rate ms-auto">£8.00</div>
            </div>
            <div class="container border-bottom border-dark mt-3 mb-3">
              Neck
              <div class="rate ms-auto">£7.00</div>
            </div>
            <div class="container border-bottom border-dark mt-3 mb-3">
              Full Face
              <div class="rate ms-auto">£20.00</div>
            </div>
            <div class="container border-bottom border-dark mt-3 mb-3">
              Back
              <div class="rate ms-auto">£25.00</div>
            </div>
            <div class="container border-bottom border-dark mt-3 mb-3">
              Full Body Wax
              <div class="rate ms-auto">£70.00</div>
            </div>
          </div>
        </div>
        <hr style="border: 1px solid pink" />
        <!--seventh-->
        <div class="col-sm-5">
          <p class="heading-2 text-center mt-5" data-aos="fade-up" data-aos-duration="3000">
            Waxing Men
          </p>
        </div>
        <div class="col-sm-7 mt-5">
          <div class="boxes" data-aos="fade-up" data-aos-duration="3000">
            <div class="Services bg-black">
              <i class="fa-solid fa-spa mx-3"></i>Services
            </div>
            <div class="container border-bottom border-dark mt-3 mb-3">
              Back
              <div class="rate ms-auto">£30.00</div>
            </div>
            <div class="container border-bottom border-dark mt-3 mb-3">
              Chest
              <div class="rate ms-auto">£25.00</div>
            </div>
          </div>
        </div>

        <hr style="border: 1px solid pink" />

        <!--eighth-->
        <div class="col-sm-5">
          <p class="heading-2 text-center mt-5" data-aos="fade-up" data-aos-duration="3000">
            Tinting
          </p>
        </div>
        <div class="col-sm-7 mt-5">
          <div class="boxes" data-aos="fade-up" data-aos-duration="3000">
            <div class="Services bg-black">
              <i class="fa-solid fa-spa mx-3"></i>Services
            </div>
            <div class="container border-bottom border-dark mt-3 mb-3">
              Lash Tint
              <div class="rate ms-auto">£15.00</div>
            </div>
            <div class="container border-bottom border-dark mt-3 mb-3">
              Bow Tint
              <div class="rate ms-auto">£10.00</div>
            </div>
            <div class="container border-bottom border-dark mt-3 mb-3">
              Eyelash Perming
              <div class="rate ms-auto">£25.00</div>
            </div>
            <div class="container border-bottom border-dark mt-3 mb-3">
              Eyelash Infills
              <div class="rate ms-auto">£15.00</div>
            </div>
            <div class="container border-bottom border-dark mt-3 mb-3">
              Eyelash Removal
              <div class="rate ms-auto">£10.00</div>
            </div>
          </div>
        </div>

        <hr style="border: 1px solid pink" />

        <!--ninth-->
        <div class="col-sm-5">
          <p class="heading-2 text-center mt-5" data-aos="fade-up" data-aos-duration="3000">
            Dermalogica
          </p>
        </div>
        <div class="col-sm-7 mt-5">
          <div class="boxes" data-aos="fade-up" data-aos-duration="3000">
            <div class="Services bg-black">
              <i class="fa-solid fa-spa mx-3"></i>Services
            </div>
            <div class="container border-bottom border-dark mt-3 mb-3">
              Deep Cleansing Facial {40 min}
              <div class="rate ms-auto">£40.00</div>
            </div>
            <div class="container border-bottom border-dark mt-3 mb-3">
              Ultra Calmimg Facial {60 min}
              <div class="rate ms-auto">£50.00</div>
            </div>
            <div class="container border-bottom border-dark mt-3 mb-3">
              Dermalogica Customised Facial {55 min}
              <div class="rate ms-auto">£65.00</div>
            </div>
            <div class="container border-bottom border-dark mt-3 mb-3">
              Age Smart Facial {55 Min}
              <div class="rate ms-auto">£55.00</div>
            </div>
            <div class="container border-bottom border-dark mt-3 mb-3">
              MediBac Clearing Treatment {55 Min}
              <div class="rate ms-auto">£50.00</div>
            </div>
            <div class="container border-bottom border-dark mt-3 mb-3">
              Chroma White Treatment {55 Min}
              <div class="rate ms-auto">£45.00</div>
            </div>
            <div class="container border-bottom border-dark mt-3 mb-3">
              Express Facial {35 Min}
              <div class="rate ms-auto">£35.00</div>
            </div>
          </div>
        </div>
        <hr style="border: 1px solid pink" />

        <!--tenth-->

        <div class="col-sm-5">
          <p class="heading-2 text-center mt-5" data-aos="fade-up" data-aos-duration="3000">
            Threading
          </p>
        </div>
        <div class="col-sm-7 mt-5">
          <div class="boxes" data-aos="fade-up" data-aos-duration="3000">
            <div class="Services bg-black">
              <i class="fa-solid fa-spa mx-3"></i>Services
            </div>
            <div class="container border-bottom border-dark mt-3 mb-3">
              Eyebrow Tidy
              <div class="rate ms-auto">£7.00</div>
            </div>
            <div class="container border-bottom border-dark mt-3 mb-3">
              Eyebrow Shape
              <div class="rate ms-auto">£9.00</div>
            </div>
            <div class="container border-bottom border-dark mt-3 mb-3">
              Upper Lip
              <div class="rate ms-auto">£4.00</div>
            </div>
            <div class="container border-bottom border-dark mt-3 mb-3">
              Eyebrow and Upper Lip
              <div class="rate ms-auto">£11.00</div>
            </div>
            <div class="container border-bottom border-dark mt-3 mb-3">
              Sides Of Face
              <div class="rate ms-auto">£9.00</div>
            </div>
            <div class="container border-bottom border-dark mt-3 mb-3">
              Chin
              <div class="rate ms-auto">£4.00</div>
            </div>
            <div class="container border-bottom border-dark mt-3 mb-3">
              Chin and Neck
              <div class="rate ms-auto">£9.00</div>
            </div>
            <div class="container border-bottom border-dark mt-3 mb-3">
              Forehead
              <div class="rate ms-auto">£4.00</div>
            </div>
            <div class="container border-bottom border-dark mt-3 mb-3">
              Full Face
              <div class="rate ms-auto">£20.00</div>
            </div>
            <div class="container border-bottom border-dark mt-3 mb-3">
              Neck
              <div class="rate ms-auto">£4.00</div>
            </div>
          </div>
        </div>
        <hr style="border: 1px solid pink" />

        <div class="col-sm-5">
          <p class="heading-2 text-center mt-5" data-aos="fade-up" data-aos-duration="3000">
            Bridal Services
          </p>
        </div>
        <div class="col-sm-7 mt-5">
          <div class="boxes" data-aos="fade-up" data-aos-duration="3000">
            <div class="Services bg-black">
              <i class="fa-solid fa-spa mx-3"></i>Services
            </div>
            <div class="container border-bottom border-dark mt-3 mb-3">
              Bridal or Special Occasion Makeup, Henna, and Hair Styling
              <div class="rate ms-auto"></div>
            </div>
          </div>
        </div>

        <hr style="border: 1px solid pink" />

        <div class="col-sm-5">
          <p class="heading-2 text-center mt-5" data-aos="fade-up" data-aos-duration="3000">
            Hair Services
          </p>
        </div>
        <div class="col-sm-7 mt-5">
          <div class="boxes" data-aos="fade-up" data-aos-duration="3000">
            <div class="Services bg-black">
              <i class="fa-solid fa-spa mx-3"></i>Services
            </div>
            <div class="container border-bottom border-dark mt-3 mb-3">
              Wash and Blow Dry
              <div class="rate ms-auto">£20.00</div>
            </div>
            <div class="container border-bottom border-dark mt-3 mb-3">
              Wash and Blow Dry
              <div class="rate ms-auto">£20.00</div>
            </div>
            <div class="container border-bottom border-dark mt-3 mb-3">
              Hair Straightening {temporary}
              <div class="rate ms-auto">£20.00</div>
            </div>
            <div class="container border-bottom border-dark mt-3 mb-3">
              Hair Up
              <div class="rate ms-auto">£25.00</div>
            </div>
          </div>
        </div>

        <hr style="border: 1px solid pink" />

        <div class="col-sm-5">
          <p class="heading-2 text-center mt-5" data-aos="fade-up" data-aos-duration="3000">
            Elight IPK + RF/SHR <br />Hair Removal Treatments
          </p>
        </div>
        <div class="col-sm-7 mt-5">
          <div class="boxes" data-aos="fade-up" data-aos-duration="3000">
            <div class="Services bg-black">
              <i class="fa-solid fa-spa mx-3"></i>Services
            </div>
            <div class="container border-bottom border-dark mt-3 mb-3">
              Upper Lip
              <div class="rate ms-auto">£25.00</div>
            </div>
            <div class="container border-bottom border-dark mt-3 mb-3">
              Chin
              <div class="rate ms-auto">£30.00</div>
            </div>
            <div class="container border-bottom border-dark mt-3 mb-3">
              Full Face
              <div class="rate ms-auto">£45.00</div>
            </div>
            <div class="container border-bottom border-dark mt-3 mb-3">
              Full Arms
              <div class="rate ms-auto">£55.00</div>
            </div>
            <div class="container border-bottom border-dark mt-3 mb-3">
              Full Legs
              <div class="rate ms-auto">£70.00</div>
            </div>
            <div class="container border-bottom border-dark mt-3 mb-3">
              Half Legs
              <div class="rate ms-auto">£70.00</div>
            </div>
            <div class="container border-bottom border-dark mt-3 mb-3">
              Bikini Line
              <div class="rate ms-auto">£35.00</div>
            </div>
            <div class="container border-bottom border-dark mt-3 mb-3">
              Extended Bikini
              <div class="rate ms-auto">£85.00</div>
            </div>
            <div class="container border-bottom border-dark mt-3 mb-3">
              Chest
              <div class="rate ms-auto">£60.00</div>
            </div>
            <div class="container border-bottom border-dark mt-3 mb-3">
              Back
              <div class="rate ms-auto">£70.00</div>
            </div>
            <div class="container border-bottom border-dark mt-3 mb-3">
              Stomach
              <div class="rate ms-auto">£50.00</div>
            </div>
            <div class="container border-bottom border-dark mt-3 mb-3">
              Buttocks
              <div class="rate ms-auto">£55.00</div>
            </div>
          </div>
        </div>

        <hr style="border: 1px solid pink" />

        <div class="col-sm-5">
          <p class="heading-2 text-center mt-5" data-aos="fade-up" data-aos-duration="3000">
            Epilation
          </p>
        </div>
        <div class="col-sm-7 mt-5">
          <div class="boxes" data-aos="fade-up" data-aos-duration="3000">
            <div class="Services bg-black">
              <i class="fa-solid fa-spa mx-3"></i>Services
            </div>
            <div class="container border-bottom border-dark mt-3 mb-3">
              Electrolysis {10 Min}
              <div class="rate ms-auto">£15.00</div>
            </div>
            <div class="container border-bottom border-dark mt-3 mb-3">
              Electrolysis {25 Min}
              <div class="rate ms-auto">£25.00</div>
            </div>
            <div class="container border-bottom border-dark mt-3 mb-3">
              Electrolysis {50 Min}
              <div class="rate ms-auto">£40.00</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% endblock content %}
