{% extends 'website/index.html' %}


{% block content %}

{% load static %}

<link rel="stylesheet" href="{% static 'css/showprojects.css' %}">

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }} p-2  mb-2 bg-success"
        style="text-align:center; width :95%; margin: auto auto; list-style:none;" {% endif %}>{{ message }}</li>
        {% endfor %}
</ul>

{% endif %}


<div class="main-content" style="margin-top: 15%;">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                {% if user.is_superuser %}
                <h2 style="text-align: center;"><b>All Booking</b></h2>
                {% else %}
                <h2 style="text-align: center;"><b>My Booking</b></h2>
                {% endif %}
            </div>
            <hr>
            

        </div>
    </div>
    <br>
    <!--table-->
    <div class="container-fluid mt-3">
        <table id="example" class="table table-bordered border-dark" style="width:100%">
            <thead>
                <tr class="table-dark">
                    <th class="table-dark">S.No</th>
                    <th class="table-dark">Name</th>
                    <th class="table-dark">Services</th>
                    <th class="table-dark">Phone</th>
                    <th class="table-dark">Price</th>
                    <th class="table-dark">View</th>
                </tr>
            </thead>
            <tbody>
                {% for i in data %}
                <tr>
                    <td style="color: #000;">{{forloop.counter}}</td>
                    <td style="color: #000;">{{i.name}}</td>
                    <td style="color: #000;">
                        {% for k in i.services.all %}
                        {{k.name}},
                        {% endfor %}
                    </td>
                    <td style="color: #000;">{{i.phone}}</td>
                    <td style="color: #000;">&#163; {{i.total_payment}}</td>
                    <td><a href="{% url 'view_booking_data' i.id %}" style="color: #000;"><svg
                                xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-eye-fill" viewBox="0 0 16 16">
                                <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z" />
                                <path
                                    d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z" />
                            </svg></a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="container-fluid mx-auto">
            <a href="#"><i class='bx bxs-chevron-up'></i></a>
        </div>
    </div>

</div>



<script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
    crossorigin="anonymous"></script>

{% endblock content %}