{% extends 'website/index.html' %}


{% block content %}

{% load static %}

<link rel="stylesheet" href="{% static 'css/showprojects.css' %}">

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }} p-2  mb-2 bg-success"
        style="text-align:center; width :95%; margin: auto auto; list-style:none;" {% endif %}>{{ message }}</li>
        {% endfor %}
</ul>
{% endif %}


<div class="main-content">
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <h2><b>All Booking</b></h2>
            </div>
            {% if user.is_superuser %}
            <div class="col-sm-4">
                <a href=""><button class="btn-1" style="background-color: #EB7F23;"><i class='bx bxs-file-plus'></i>Add New Architect</button></a>
            </div>
            {% endif %}

        </div>
    </div>
    <br>
    <!--table-->
    <div class="container-fluid mt-3">
        <table id="example" class="table table-bordered border-dark" style="width:100%">
            <thead>
                <tr class="table-dark">
                    <th class="table-dark">S.No</th>
                    <th class="table-dark">Name</th>
                    <th class="table-dark">Services</th>
                    <th class="table-dark">Phone</th>
                    <th class="table-dark">Price</th>
                    <th class="table-dark">View</th>
                </tr>
            </thead>
            <tbody>
                {% for i in data %}
                <tr>
                    <td style="color: #000;">{{forloop.counter}}</td>
                    <td style="color: #000;">{{i.name}}</td>
                    <td style="color: #000;">
                        {% for k in i.services.all %}
                        {{k.name}},
                        {% endfor %}
                    </td>
                    <td style="color: #000;">{{i.phone}}</td>
                    <td style="color: #000;">&#163; {{i.total_payment}}</td>
                    <td><a href="{% url 'view_booking_data' i.id %}" style="color: #000;"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                        <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                        <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
                      </svg></a></td>
                    <!-- <td>
                        <a href="" class="delete" onclick="return confirm('Are you sure you want to delete this?')"
                            style="margin-right: 15px; color: black;" title="delete"><svg
                                xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-archive-fill" viewBox="0 0 16 16">
                                <path
                                    d="M12.643 15C13.979 15 15 13.845 15 12.5V5H1v7.5C1 13.845 2.021 15 3.357 15h9.286zM5.5 7h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1 0-1zM.8 1a.8.8 0 0 0-.8.8V3a.8.8 0 0 0 .8.8h14.4A.8.8 0 0 0 16 3V1.8a.8.8 0 0 0-.8-.8H.8z" />
                            </svg></a>

                        <a href="" class="edit" title="edit"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                                height="16" fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                                <path
                                    d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z" />
                            </svg></a>
                    </td> -->
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="container-fluid mx-auto">
            <a href="#"><i class='bx bxs-chevron-up'></i></a>
        </div>
    </div>

</div>



<script src="https://code.jquery.com/jquery-3.6.1.js" integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
    crossorigin="anonymous"></script>

{% endblock content %}