{% extends 'Pages/editpage.html' %}

{% block content %}
{% load static %}

<!--jquery-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!--datesrc-->


<link rel="stylesheet" href="{% static 'css/addstaff.css' %}">


{% load widget_tweaks %}

<section class="home-section bg-light" style="padding-left: 5%">
    <div class="home-content">
        <i class="bx bx-menu" style="color: rgb(0, 0, 0)"></i>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-8">
                <h2><b><i class="fa-solid fa-clipboard-user mx-2"></i>Update Booking</b></h2>
            </div>
            <div class="col-sm-4">
                <!-- <a href="{% url 'add_product_view' %}"><button class="btn-1"><i class='bx bxs-file-plus'></i>Add Products</button></a> -->
            </div>
        </div>
    </div>
    </div>
    <div class="container" style="padding-left: 20px;">
        <form class="row g-3 mt-3" method="POST" action="">
            {% csrf_token %}

            <div class="col-md-3">
                <label for="text" class="form-label">Name</label>
                <input type="text" class="form-control" id="text" name="name" value="{{data.name}}" readonly>
            </div>
            <div class="col-md-3">
                <label for="text" class="form-label">Email</label>
                <input type="text" class="form-control" id="text" name="email" value="{{data.email}}" readonly>
            </div>
            <div class="col-md-3">
                <label for="text" class="form-label">Phone</label>
                <input type="text" class="form-control" id="text" name="phone" value="{{data.phone}}" readonly>
            </div>
            <div class="col-md-3">
                <label for="text" class="form-label">Appointment Date</label>
                <input type="text" class="form-control" id="text" name="date" value="{{data.date|date:'Y-m-d'}}">
            </div>
            <div class="col-md-3">
                <label for="text" class="form-label">Booking Time</label>
                <!-- <input type="text" class="form-control" id="text" name="time" value="{{data.time}}"> -->
                {% render_field form.time style="width: 100%; height: 40px; box-sizing: border-box; border: 2px solid #ccc; border-radius: 4px; background-color: #fff; font-size: 16px; resize: none;"|add_class:"form-control" %}

            </div>
            <div class="col-md-3">
                <label for="text" class="form-label">Total Pyament</label>
                <!-- <input type="text" class="form-control" id="text" name="time" value="{{data.time}}"> -->
                {% render_field form.total_payment style="width: 100%; height: 40px; box-sizing: border-box; border: 2px solid #ccc; border-radius: 4px; background-color: #fff; font-size: 16px; resize: none;"|add_class:"form-control" %}

            </div>

            <div class="col-md-3">
                <label for="text" class="form-label">User</label>
                <!-- <input type="text" class="form-control" id="text" name="time" value="{{data.time}}"> -->
                <span style="pointer-events: none;">{% render_field form.foruser style="width: 100%; height: 40px; box-sizing: border-box; border: 2px solid #ccc; border-radius: 4px; background-color: #fff; font-size: 16px; resize: none;"|add_class:"form-control" %}</span>

            </div>
            <div class="col-md-3">
                <label for="text" class="form-label">Booking Time</label>
                <input type="text" class="form-control" id="text" name="BookingTime" value="{{data.BookingTime}}" readonly>
            </div>
            <!-- <div class="col-md-3">
                <label for="text" class="form-label">Booking Time</label>
                <input type="text" class="form-control" id="text" name="time" value="{{data.time}}">
            </div> -->
            <div class="col-md-3">
                <label for="text" class="form-label">Services</label>
                <!-- <input type="text" class="form-control" id="text" name="time" value="{{data.services}}"> -->
              {% for i in somedata %}
                    <input type="text" value="{{i}}" class="form-control">
              {% endfor %}
                {% render_field form.services style="width: 100%; height: 40px; box-sizing: border-box; border: 2px solid #ccc; border-radius: 4px; background-color: #fff; font-size: 16px; resize: none; display: none"|add_class:"form-control" %}

            </div>
            <div class="col-md-12">
                <button type="submit" class="btn-2" style="background-color: ff5f1f;">Submit</button>
            <div class="col-md-3">

            </div>
        </form>
    </div>

    <script>
        $(function () {
            $('#datepicker').datepicker();
        });
    </script>

    <script>
        let arrow = document.querySelectorAll(".arrow");
        for (var i = 0; i < arrow.length; i++) {
            arrow[i].addEventListener("click", (e) => {
                let arrowParent = e.target.parentElement.parentElement; //selecting main parent of arrow
                arrowParent.classList.toggle("showMenu");
            });
        }

        let sidebar = document.querySelector(".sidebar");
        let sidebarBtn = document.querySelector(".bx-menu");
        console.log(sidebarBtn);
        sidebarBtn.addEventListener("click", () => {
            sidebar.classList.toggle("close");
        });
    </script>

    {% endblock content %}